body {
    font-family: "Calibri","sans-serif";
    color: black;
    margin: 20px 200px;
}

div .img {
    text-align: center;
}

.texample {
    color: #8B0000;
}

img {
    width: 700px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
   }

h3 {
    font-size: 21px;
    text-align: center;
}

h4 {
    font-size: 18px;
    text-align: center;
}

li {
    padding-bottom: 5px;
}