@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#menu {
	width: 100%;
	background: #666;
	display: table;
}

#menu li{
	display: block;
	float: left;
	position: relative;
}

#menu li a{
	display: table;
	padding: 0 20px;
	height: 50px;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
	line-height: 49px;
	color: #fff;
	border-right: 1px solid #555;
	text-decoration: none;
	transition: .5s;
}

.sub-menu{
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: -1;
	transition: .3s;
	
}

#menu .sub-menu li{
	float: none;
}

#menu .sub-menu li a{
	width: 100%;
	min-width: 100%;
	padding: 0 11px;
	white-space: nowrap;
	text-align: left;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #ddd;
}

#menu li:hover a{
	background: #aaa;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3) insert;
}

#menu li:hover .sub-menu a{
	background: #eee;
	color: #666;
	height: 40px;
	line-height: 40px;
	
}

#menu li:hover .sub-menu a:hover{
	color: #000;
}

#menu li a:hover + .sub-menu,
.sub-menu:hover{
	display: block;
}

#menu li:hover > ul{
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

/*второй уровень подменю*/

.sub-menu-2{
	margin: 5px;
	visibility: hidden;
	left: 100%;
	top: 0;
	opacity: 0;
	position: absolute;
	z-index: -1;
	transition: .3s;
}

.sub-menu .sub-menu-2 li{
	float: none;
}

.sub-menu .sub-menu-2 li a{
	width: 100%;
	min-width: 100%;
	padding: 0 11px;
	white-space: nowrap;
	text-align: left;
	box-shadow: none;
	border: none;
	border-bottom: 1px solid #ddd;
}

.sub-menu li:hover a{
	background: #aaa;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3) insert;
}

.sub-menu li:hover .sub-menu-2 a{
	background: #eee;
	color: #666;
	height: 40px;
	line-height: 40px;
}

.sub-menu li:hover .sub-menu-2 a:hover{
	color: #000;
}

.sub-menu li a:hover + .sub-menu-2,
.sub-menu-2:hover{
	display: block;
}

.sub-menu li:hover > ul{
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

/*адаптивность*/

@media screen and(max-width: 580px){
	.sub-menu{
		position: relative;
		display: none;
	}

	#menu li,
	#menu li a{
		width: 100%;
		border: none;
		padding-right: 0;
	}

	#menu li{
		border-bottom: 1px solid #555;
	}

	#sub-menu li{
		border-bottom: 1px solid #ddd;
	}

	#menu{
		width: 100%;
		overflow: hidden;
	}
}