@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
/**/
body {
    background-color: #f5f5f5;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
/**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/**/
#home {
  	width: 100%;
	display: table;
	padding-bottom: 20px;
	padding-right: 30px;
}
#home li{
	display: block;
	float: right;
	position: relative;
  	margin: 5px 10px 5px 10px;
}
#home li a{
	height: 50px;
  
  	background: #857870;
  	border: 2px solid #746256;
  	font-size: 18px;
  	color: #f8f7f7;
  	text-transform: capitalize;
  	width: 120px;
  	height: 40px;
  	display: block;
  	text-align: center;
  	line-height: 40px;
  	position: relative;
  
  	transition: .5s;
  	overflow: hidden;
}
/**/
#lessons {
	max-width: 1200px;
	width: 100%;
	display: table;
	padding-left: 40px;
}
#lessons li {
	display: block;
	float: left;
	position: relative;
  	margin: 5px 10px 5px 10px;
}
#lessons li a {
	padding: 0 10px;
	height: 50px;
	font-family: 'Open Sans', sans-serif;
  
  	background: #888;
  	border: 2px solid #777;
  	font-size: 15px;
  	color: #f8f7f7;
  	text-transform: uppercase;
  	width: 105px;
  	height: 40px;
  	display: block;
  	text-align: center;
  	line-height: 40px;
  	position: relative;
  
  	transition: .7s;  
}
/**/
#lessons li a:hover {
  	color: #333;
  	background: #eee;
}
#home li a:hover {
  	color: #f77519;
  	background: none;
  	border: 2px solid #f9bc91;
}
