body {
	background: #f5f5f5;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	
	font-size: 14px;
	line-height: 1.5;
	color: #000000;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	border-bottom: 1px solid #e5e5e5;
	padding: 1px 0px 0px 10px;
}

.section {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.paper {
	background: #ffffff;       
    box-shadow: 0 0 0 1px #e5e5e5;
    border-radius: 3px;
}

.lessons-list {
	width: 100%;
	max-width: 1200px;
}

.lessons-item {
	margin: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    line-height: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.style-about-text {
	background: #ffffff;       
    box-shadow: 0 0 0 1px #e5e5e5;
    border-radius: 3px;
    padding: 10px;
}

.link-default {
    color: #212529;    
}

.link, .link:hover, a, a:hover {
    color: #f77519;
    }

.hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid #e5e5e5;
}