.vn{
	width:800px;
	margin:0 auto;
	font-family:Calibri;
}

.an{
	font-size:14px;
	color:#696969;
	line-height:1.5;
	
}

.p1{
	font-size:14px;
	margin-top:-15px;
	
}

.p{
	font-size:14px;
	margin-top:-10px;
}

.colortxt{
	font-size:14px;
	color:#800000;
}

.h4{
	margin-top:-15px;
}